In [2]:
import pandas as pd;
df = pd.DataFrame([['Month','Jan','Feb'],['Facebook', 200, 220],['Adwords',150,112]],columns=list('ABC'));
df.head()

          A    B    C
0     Month  Jan  Feb
1  Facebook  200  220
2   Adwords  150  112

In [4]:
firstCol = df.columns.tolist()[0];
print firstCol

A

In [5]:
df = df.set_index(df[firstCol]);
df.head()

                 A    B    C
A
Month        Month  Jan  Feb
Facebook  Facebook  200  220
Adwords    Adwords  150  112

In [6]:
df = df.drop(firstCol, 1);
df.head()

            B    C
A
Month     Jan  Feb
Facebook  200  220
Adwords   150  112

In [7]:
dft = df.T
df.head()

            B    C
A
Month     Jan  Feb
Facebook  200  220
Adwords   150  112

In [8]:
dft[firstCol] = dft.index;
dft.head()

A Month Facebook Adwords  A
B   Jan      200     150  B
C   Feb      220     112  C

In [9]:
cols = dft.columns.tolist()
cols = cols[-1:] + cols[:-1]
dft = dft[cols]

In [10]:
dft.head()

A  A Month Facebook Adwords
B  B   Jan      200     150
C  C   Feb      220     112

In [21]:
result = pd.DataFrame(dft.values.tolist(),columns=dft.columns.tolist());

In [22]:
result.head()

   A Month  Facebook  Adwords
0  B   Jan       200      150
1  C   Feb       220      112